body {
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
    padding: 2em;
    background-color: #f1f1f1;
    font-family: "Lato",Arial,Helvetica,sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    padding-top: 4em;
    margin-top: -2em;
}

table {
    /*table-layout: fixed;*/
    word-wrap: break-word;
    width: 100%
}
.global-ref table{
    border: solid 2px lightgrey;
}
.global-ref td {
  -webkit-columns: 5 250px;
    -moz-columns: 5 250px;
      columns: 5 250px;
    width: 75%;
}
.global-ref ul {
    padding: 0;
}
.global-ref li {
    list-style: none;
}
.global-ref th {
}

th {
    width: 25%;
}
td a:after {
    content: ",";
}
td a:last-child:after {
    content: none;
}

section .table thead>tr>th, section .table tbody>tr>th, section .table tfoot>tr>th, section .table thead>tr>td, section .table tbody>tr>td, section .table tfoot>tr>td {
    border: none;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    max-width: 60px; 
}
dl {
    margin: 0;
    margin-top: 0.5em;
}
img {
    border: 0
}

:target {
  animation: highlight 3s ease;
}
@keyframes highlight {
  from { background: #ae0030; }
  to { background: #f1f1f1; }
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

main a {
    color: #000;
    font-weight: bold;
    border-bottom: 1px dashed #999;
}

main a:hover {
    color: #444;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #444;
}

/*
Bootstrap Modifications
*/
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.nav-link.active {
    color: #818182 !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}


.main-content {
    background-color: white;
    height: max-content;
}

#top {
    float: right; 
    font-size: small;
    margin-top: 0px;
    display: none;
}

