
body {

 margin-left: 6em;
 margin-right: 6em;
 text-align: justify;
}


div.specterm {

        border: 1px solid black;
  	background: 	#F0F0F0  ;
	  padding: 1em;
}

.archaic {
/*        background: #5E2612; 
The CSS here could do with some love...
*/
color: #5E2612;     
} 

.termdetails {
}

div.rdf-proplist {
        background-color: #ddf;
        border: 1px solid black;
        float: left;
/*        width: 26%; */
        margin: 0.3em 1%; 
}
img { border: 0 } 

.example {
        border: 1px solid black;
        background-color: #D9E3E9; 
	padding: 5px;
	width: 100%;
}

 .editorial {
        border: 2px solid green;
        padding: 5px;
}

div.rdf-classlist {
        background-color: #eef;
        border: 1px solid black;
        float: left;
        margin: 0.3em 1%;
        width: 26%;
}

div.rdf-proplist h3 {
        background-color: #bbf;
        font-size: 100%;
        margin: 0;
        padding: 5px;
}

div.rdf-classlist h3 {
        background-color: #ccf;
        font-size: 100%;
        margin: 0;
        padding: 5px;
}

h3.specterm {
/*      foreground-color: #000; */
        background-color: #bbf;
        font-size: 100%;
        margin: 0;
        padding: 3px;
}

.specterm dl>dd:first-child {
    margin-left: 0;
}
.specterm dd {
    display: inline-block;
    margin-right: 0;
    padding-left: 0;
    margin-left: 0.5em;
}
.specterm dd::after { 
    content: ", ";
}

.azlist { 
	padding: 5px; 
	border: solid; 
	background-color: #ddd;
}

.conceptlist {
    padding: 5px; 
    border: dotted; 
    background-color: #ddd
}

div.az_list {
    padding: 1em; 
    border: dotted; 
    background-color: #ddd;
}

.uri, .specterm dd a {
    font-family:monospace; 
    font-size:1em;
}

#top {
    float: right; 
    font-size: small;
    margin-top: 0px;
}

span.list-item {
    display: inline-block;
    margin-right: 5px; 
}

span.list-item:first-child {
    margin-left: 5px; 
}

.table-contents ul {
    list-style: none;
}
.az_list.deprecated_list {
    background-color: #eecccc;
}

.deprecated_term .specterm {
    background-color: #f8e9e9;
}
div.comment p {
    padding-bottom: 0;
    margin: 0;
}