.DS_Store
*.counts
*.bibli
*.bib
*.nt
*.unique
*.tmp
*.md
*.tmp2
*.swp
.project
cwrc.html
genre.html
figures/genreTaxonomy*
figures/politicalAffiliationTaxonomy*
figures/religionTaxonomy*
*-20*
*-citation*
scripts/
testing_files/